[Unit]
Description=SSH Watcher Service
After=network.target

[Service]
User=root
ExecStart=/path/to/ssh-watcher
Restart=on-failure
Environment=GO_ENV=production
Environment=HOST_URL=fill-in
Environment=SLACK_WEBHOOK_URL=fill-in

Environment=SLACK_CHANNEL=fill-in
Environment=SLACK_USERNAME=fill-in
Environment=SLACK_ICON=fill-in
Environment=WATCH_LOGFILE=fill-in
Environment=WATCH_SETTINGS_ACCEPTED_LOGIN=fill-in
Environment=WATCH_SETTINGS_FAILED_LOGIN=fill-in
Environment=WATCH_SETTINGS_FAILED_LOGIN_INVALID_USERNAME=fill-in

[Install]
WantedBy=multi-user.target